<h1> FFV Awards </h1>


<p>
FFV has developed many awards over its over four decades of service in the commonwealth and
commraderie amoung its members.
    <div>
        <ul>
            <li>Taylor F. Turner, Jr. Conservation Award</li>
            <li>The Rock Pile - Nat T. R. Burgwyn Award</li>
            <li>More to be added!</li>
        </ul>
    </div>

<p>


<div> 
<h4> Taylor F. Turner, Jr. Conservation Award</h4>
More information to come!
</div>


<div>
<h4> Nat T. R. Burgwyn Award </h4>
<p>
Mr. Burgwyn was an avid sportsman, fly tyer, and fly fisherman. Nat graduated from Petersburg High School in 1943.
During World War II, he served the United States in the 393rd Bombardment Squadron of the 509th Composit Group, U.S. 
Army Air Corps as a radar observer and gunner with the crew of the B-29, "Full House". He was discharged from the Air
Corps in 1946, with the rank of Sergeant and having played supporting roles in the atomic bomb missions over Hiroshima
and Nagasaki. After the war, Nat attended University of Virginia where he studied history. 
</p> 
<p>
Nat's true passion can be found in how he spent his time. Nat was a member of numerous sporting clubs and conservation
organization. He played leadership roles in many of thes organizations, including The Federation of Fly Fishers, the 
Virginia Anglers Club, Trout Unlimited, the Coastal Conservation Association, and the Cohoke Club. He was a co-founder 
and past president of Fly Fishers of Virginia, as well as the Virginia Chapter of the Brotherhood of the Junglecock, 
an organization dedicated to introducing youngsters to fly fishing and conservation. 
Nat Burgwyn is a founding member of FFV. 
</p>
<h7> The Rock Pile by Charles Shaver</h7>
<p>
Under the shadow of a holly tree and completely engulfed in Virginia Creeper was the rock pile.
The rock pile was in the way of a garage-building project and I had volunteered to extricate the
rocks from their resting place. Another rock collector was going to take the rocks and use them in 
the manner for which they were collected – a building project.
</p>
<p>
Each of the stones, blue, green, brown and black, were polished smooth from thousands of years of 
lying upon a streambed somewhere their collector had once walked and fished. One by one they had been 
hand selected, loaded into canoe, boat or car, and delivered to this repose under the holly tree. For 40 
years, their owner, fancying the looks of a certain rock under the felt of his wading boots, had built his 
collection rock by rock.
<p>

<p>
As I toiled moving them, I realized this was not merely a collection of rocks I was touching; it was a 
collection of fishing memories. The five-pound smallmouth caught on a Muddler Minnow in the James. The 
seven-pound striped bass snared on a Closier Minnow in the Rappahannock. The twelve-inch brookie pulled 
from Mossy Creek with an Adams firmly in the corner of its jaw. Trying to catch a fresh sea-run salmon in 
the Penobscot. Each rock represented a trip to somewhere, time spent with friends or family, and the experience 
of a fishing trip with fly rod and gear firmly in tow. All were happier times in the past. I had not participated 
in any of those fishing trips, and as I moved the rocks, that saddened me.
</p>

<p>
As he was known to do, the rock collector had shared many stories about his fishing adventures with me, 
but only once did we cast flies together. He and I shared a fishing trip to Upper Hall Pond in New Hampshire. 
It was not much as far as fish count goes, but like all fishing trips, catching fish is only part of the fun. 
There was the long ride into the mountains with the canoe strapped to the top of the truck and the talk of the 
giant brookies rumored to live in the depths of the pond. We had the pond to ourselves that day and canoed to an 
island to fish. The fish were not hungry, but the old man had come prepared with his special flask of Gentleman 
Jack, and on the way home we stopped to enjoy an adult beverage in the shadow of a covered bridge over the 
Pemigewasset River.
<p>

<p>
The rock collector has now been freed from his earthly restraints. There will be no more days on the river for 
him. Our trip to Upper Hall Pond in New Hampshire was my first to fish with him, and sadly, it was his last time 
to cast a fly. Of all the fishing trips and the hundreds of companions who have fished with the old man, I got to 
be the witness to the end of his great fishing career. That thought brings me sweet sorrow. So that fish will 
always be able to rise to one of his creations, some of Nat’s flies will always be tucked in my vest on my future 
trips.
</p>
</div>

