<h1> Our History </h1>

<p>
The Fly Fishers of Virginia (FFV) was established in the Commonwealth in 1982 to:
    <div>
        <ul>
            <li>Promote the art of fly rod fishing</li>
            <li>To foster good sportsmanship</li>
            <li>To promote conservation of the nation's natural resources</li>
            <li>Beverly R. Tucker III</li>
        </ul>
    </div>
<p> 


<p> 
    The four founding members of FFV are: 
    <div>
        <ul>
            <li>Nat T. R. Burgwyn</li>
            <li>Kenny A. Grandstaff, II</li>
            <li>George Crosby, Jr.</li>
            <li>Beverly R. Tucker III</li>
        </ul>
    </div>
</p>

