<h1> Board of Directors </h1>

<p> 
    Officers and Directors 2023-2024
    <div>
        <ul>
            <li>President - Tony Scrimizzi</li>
            <li>Vice President Fishing - Dick Chapman</li>
            <li>Vice President Conservation - Millie Neagle</li>
            <li>Vice President Membership - Chuck Davis</li>
            <li>Secretary - Gary Green</li>
            <li>Treasurer - JoAnn Lindstrom-Gibbens</li>
            <li>Directors at Large:</li>
                <ul>
                    <li>Dale Clark</li>
                    <li>Mac Myers</li>
                    <li>Jon Arnold</li>
                    <li>Judi Edwards</li>
                </ul>
            <li>Project Healing Water Coordinator - Tony Escalona</li>
            <li>Technical Advisors - Brian and Colby Trow</li>
            <li>Webmeister - Doug Walden</li>
            <li>Assistant Webmeister - Taylor F. Turner, IV</li>
            <li>Communications Director - Robert Thomas</li>
        </ul>
    </div>
</p>

